/*Begin your code here*/
/*code partially adapted from homework 6 */

body{
  margin: 0;
  padding: 0;
  font-size: 20pt; 
  font-family: "Cinzel", "sans-serif";
  background-image: url("../imgs/grey-marble-cat-3001-61x61-matt.jpeg");
  color: rgb(17, 15, 65);
  text-align: center;
  font-weight: bold;
  /* padding: 50px; */
  

}

header{

border-bottom: 3px solid rgb(17, 15, 65);
display: flex;


}

  nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
  }

  nav ul{
    text-align: center;
    padding: 25px;
  }

  nav li{
    display: inline-table;
    padding: 15px;
  }


  nav li a:focus, nav li a:hover{
    color:rgb(17, 15, 65);
    text-decoration: underline overline;
  }

  a:visited{
    color:rgb(17, 15, 65);
  }

  .selected{
    font-weight: bold;
    border: 2px solid black;
  } 

.main{   
  color: black;
  height: 600px;               
  background-image: url('../imgs/coverpic.JPG');
  background-size: 200px;
  background-color: white;
  background-attachment: fixed;    
  background-position: center;  
  background-repeat: no-repeat; 
  background-size: cover;    

}


a.skip{
  background: white;
  left: 50;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}


.aboutpics{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.package {
  margin: 12px;
  border-radius: 7px;
  padding: 0 0 50px 0;
  display: flex;
  flex-basis: 400px;
  flex-direction: column;

}



div.package header
{
  background: rgb(17, 15, 65);;
  border: 2px solid rgb(17, 15, 65);
  padding: 20px 0;
  border-radius: 7px 7px 0 0;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-content: center;
} 


.gallery{
  height: 200px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  flex-grow: 1;
  padding-bottom: 400px;

}


.gallery > img
{
  border: 10px rgb(17, 15, 65) solid;
  margin: 10px;
  width: 300px;
}

.grid-pro{
  display: grid;
  grid-gap: 80px;
  padding-left: 50px;
  padding-bottom: 300px ;
  grid-template-rows: 150px auto 100px;


}

.grid-personal{
  display: grid;
  grid-gap: 50px;
}

/* @media only screen and (max-width: 300px) {
  body {
    font-size: 25pt;
  } */


footer{
  color: whitesmoke;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: rgb(17, 15, 65);
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;

}










